# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage
.coverage
.tox/
nosetests.xml
test-results/
coverage.xml
htmlcov/

# Logs
*.log

# IDEs / editors
.idea/
*.sublime-project
*.sublime-workspace

# macOS / Windows
.DS_Store
Thumbs.db

# Pydantic cache
__pydantic__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv files
.env
*.env

# FastAPI docs cache (if applicable)
docs/_build/
